Checks: >
  modernize-*,
  -modernize-use-trailing-return-type,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  readability*,
  -readability-magic-numbers,
  -readability-avoid-unconditional-preprocessor-if,
  cppcoreguidelines*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  clang-analyzer-*

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '0'
  - key:             readability-identifier-length.MinimumVariableNameLength
    value:           '2'
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           '1'
  - key:             readability-simplify-boolean-expr.IgnoreMacros
    value:           true
